@import "./Variables.scss";

.add_book_main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.add_book_article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    width: 300px;
    max-width: 300px;
    background-color: aqua;
    border-radius: 5px;
    cursor: default;
}

.add_book_link {
    @include reactLink;
}

.add_book_button {
    @include bookPageButton( black, bisque, black) ;
    height: 50px;
    width: 160px;
}