@import "./Variables.scss";

.add_form_main {
    @include centeredContent;
    background-color: rgb(171, 112, 112);
}

.add_form_header {
    display: flex;
    margin-top: 50px;
    margin-bottom: -5px;
    color: azure;
}

.add_form_form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: space-evenly;
}

.add_form_input {
    width: 70vw;
    height: 4vh;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid gray;
}

.add_form_submit_button {
    display: block;
    width: 30vw;
    height: 5vh;
    margin-left: auto;
    margin-right: auto;
}