@import "./Variables.scss";

.books_main_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
}

.books_main_table {
    border-collapse: collapse;
    font-family: sans-serif;
    min-width: 500px;
    width: 1000px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.books_main_table_head {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    
}

.books_main_link {
    text-decoration: none;
}

.books_main_data {
    border-bottom: .5px solid black;
}

.books_main_title {
    text-align: left;
    padding-left: 10px;
    max-width: 100px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}

.books_main_data:nth-child(even) {
    background-color: aliceblue;
}

.books_main_data:hover {
    background-color: rgba(255, 255, 0, 0.172);
}

.books_main_controls_div {
    display: flex;
    margin-top: 10px;
}

.books_main_controls_button {
    background-color: #009879;
    color:#ffffff;
    border: none;
    border-radius: 3px;
    height: 20px;
    cursor: pointer;
}

.books_main_controls_display {
    font-family: $archivo;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
}
