@import './Variables.scss';

.navbar_main {
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.navbar_logo {
    margin-left: 30px;
}

.navbar_links {
    display: flex;
    width: 150px;
    justify-content: space-between;
    margin-right: 30px;
    height: 30px;
}

.navbar_link {
    list-style-type: none;
    text-decoration: none;
}
