@import "./Variables.scss";

.sign_up_main {
    @include centeredContent;
    height: 90vh;
}

.sign_up_form_container {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 10px;
    width: 50vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.sign_up_header {
    font-family: $archivo;
    margin-top: -20px;
}

.sign_up_form_image {
    width: 225px;
    margin-top: -12px;

}

.sign_up_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

.sign_up_label {
    font-family: $typewriter;
    font-size: 18px;
}

.sign_up_input {
    width: 215px;
    height: 30px;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid gray;
    text-align: center;
}

.sign_up_button {
    @include buttonSmall;
    background-color: #17488e;
    color: white;
    font-family: $archivo;
    font-weight: 600;
    height: 40px;
    width: 100px;
    border: none;
    margin-top: 20px;
}

.sign_up_log_in_div {
    display: flex;
    font-family: $archivo;
    font-size: 14px;
}

.sign_up_log_in_link {
    margin-top: 13px;
}

.sign_up_log_in_button {
    border: none;
    background-color: antiquewhite;
    color: #d98fbd;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}