@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;400;700&family=Courier+Prime:ital,wght@0,400;0,700;1,400&display=swap');

$typewriter: "Courier Prime", monospace;
$archivo: 'Archivo', sans-serif;

@mixin centeredContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin fullScreen ($backgroundColor) {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $backgroundColor;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y:scroll;
    overflow-x:hidden; 

}

@mixin buttonSmall {
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

@mixin reactLink {
    text-decoration: none;
    cursor: default;
}

@mixin bookPageButton( $borderColor, $backgroundColor, $buttonColor) {
    background-color: $backgroundColor;
    color: $buttonColor;
    font-family: $archivo;
    font-weight: 700;
    font-size: 15px;
    border: 3px solid $borderColor;
    width: 90px;
    height: 40px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

@mixin formInput($inputWidth, $inputHeight) {
    height: $inputHeight;
    width: $inputWidth;
    border: 1.5px solid black;
    border-radius: 7px;
    font-family: $archivo;
    font-size: 20px;
    margin-bottom: -15px;
    text-align: center;
}

@mixin flexDivHorizontal {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

@mixin none {
    display: none;
}
