@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400&display=swap');

$typewriter: "Courier Prime", monospace;

@mixin centeredContent {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y:scroll;
    overflow-x:hidden; 
}

@mixin buttonSmall {
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

@mixin reactLink {
    text-decoration: none;
    cursor: default;
}