@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;400;700&family=Courier+Prime:ital,wght@0,400;0,700;1,400&display=swap');

$typewriter: "Courier Prime", monospace;
$archivo: 'Archivo', sans-serif;

@mixin centeredContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin buttonSmall {
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

@mixin reactLink {
    text-decoration: none;
    cursor: default;
}